.search-result{
    margin: 65px 0 43px 363px;

    .menu-in-result-block{
        color: #00327F;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }
    .search-in-result-block{
        color: #666;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }
}