
    .search-result{
        margin: 0 auto;
        margin: 65px 0 25px 0;
        
    
        a{
            color: #00327F;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
        }
        span{
            color: #00327F;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
        }
    }
